<!DOCTYPE html>
<html>
    <head>
        <title>Hello World Greeter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div#main {
                max-width: 500px;
                padding: 20px;
            }

            nav .title {
                font-weight: bold;
            }

            a.active {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <nav>
           <span class="title">Greeter App:</span>
             <ul class="nav navbar-nav">
             </ul>
        </nav>
      
        <div id="main">
            <br>
            {% block content %}{% endblock %}
            <br>
        </div>

        <footer>
          {% block footer %}
            Thanks for coming...
            <br>
          {% endblock %}
        </footer>
      
    </body>
</html>